body{
    margin: 0;
}
p{
    margin: 0;
}
.block{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    background: #9B6F6F;
}
.bottom{
    background: #8A8484;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.subtitle{
    margin: 20px 0 0 0;
    font-size: 20px;
    width: 40vw;
    text-align: center;
}