body {
    margin: 0;
    padding: 2.5vh;

}

.top {
    background: #8A8484;
    height: 30vh;
    border-radius: 5px;
}

.bottom {
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    background: #8A8484;
    height: 60vh;
    width: 60vw;
    border-radius: 5px;
    margin: 0 5vw 0 0;
}

.right {
    background: #8A8484;
    height: 60vh;
    width: 32.5vw;
    border-radius: 5px;

}